@import './utils/colors';

.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color:darken($lightergrey,10%);
    text-align: center;
    padding: 1.5rem;
    & i {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  
  