@import './utils/mixins';
@import './utils/variables';
@import './utils/colors';


.tuto {
    margin: 8px;
    h2 {
        margin:2rem 1rem;
    }
    counter-reset:steps;
    margin-bottom:2rem;
    margin-top:1rem;
    margin-bottom:1rem;
    
    ol {
        display:flex;
        margin-left:-1rem;
        list-style-type:none;
        gap:2rem;
        @media (max-width:1000px){
            flex-direction:column;
        }
    }
    & li {
        &::before {
            content:counter(steps);
            counter-increment: steps;
            color:white;
            background-color:$purple;
            width:2 * $base-height;
            height:2* $base-height;
            display:grid;
            place-items:center;
            padding:.5rem;
            left:-1 * $base-height;
            top:50%;
            border-radius:50%;
            position:absolute;
            transform:translateY(-50%);
        }
        background-color:darken($lightergrey,5%);
        padding:1.5rem 2rem;
        position:relative;
        flex-grow:1;
        border-radius:1rem;
        box-shadow:2px 1px 7px -3px #000000;
        &:hover {
            @include zoom;
            background-color:#f5edff;
            & i {
                color:$purple;
            }
        }
        & i  {
            margin-right:1rem;
            color:$lightgrey;
            font-size:1.5rem;
           
        }
    }
   
}


